<form action="{{ path('cajas-cerrar-case1') }}" method="post" {{ form_enctype(form) }}>
    
    <input type="hidden" name="mensajeServidor" id="mensajeServidor" value="{{ mensajeServidor }}"></input>
    {{ form_errors(form) }}
    
    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span12">  
        <label> <strong> ¿Está seguro que desea cerrar la caja? </strong> </label>
    </div> 
    </div> 
    <div class="row-fluid">
    <div class="span12">  
    {{ form_label(form.importeTotal) }}
    <div class="input-prepend">
    <span class="add-on">{{ caja.moneda.sigla }}</span>
    {{ form_widget(form.importeTotal) }}
    </div>
    </div>
    </div>
    </div> 
    {{ form_rest(form) }}
    
</form>