{% extends "::content.html.twig" %}

{% block contentHeaderModal %}
    Emitir Boletos
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            emitirBoleto.funcionesAddOnload();	
        }); 
    </script>
{% endblock %}
           
{% block contentBodyModal %}
    
    <form class="form-horizontal boletoForm" id="boletoForm" name="boletoForm" action="{{ path(route) }}">
       
        <input type="hidden" name="mensajeServidor" id="mensajeServidor" value="{{ mensajeServidor }}"></input>
        {{ form_errors(form) }}
        
        <div class="row-fluid">
            <div class="span8">
                    <div class="row-fluid"> 
                        <div class="span12">
                        {{ form_label(form.clienteDocumento) }}
                        {{ form_widget(form.clienteDocumento , {'attr': {'placeholder': 'Seleccione el cliente documento', 'data-pathListarClientesPaginando': path('ajaxListarClientesPaginando') } }) }}
                        <span class="clienteActions">
                            <a id="addCliente" class="btn btn-small add" data-title="Adicionar Cliente" href="{{ path('cliente-crear-case1') }}"><i class="icon-plus"></i></a>
                            <a id="updateCliente" class="btn btn-small" data-title="Actualizar Cliente" data-index="emitir_boleto_command_clienteDocumento" data-index-message="Debe seleccionar un cliente." href="{{ path('cliente-actualizar-case1') }}"><i class="icon-edit"></i></a>
                            <a id="seachCliente" class="btn btn-small" data-title="Buscador de cliente" data-fullscreen="true" data-find="true" data-grid=".clienteGrid" href="{{ path('cliente-buscador-case1') }}"><i class="icon-search"></i></a>
                        </span>
                        {{ form_errors(form.clienteDocumento ) }}
                        </div>
                    </div> 
                    
                    <div class="row-fluid"> 
                        <div class="span6">
                        {{ form_label(form.fechaSalida) }}
                        {{ form_widget(form.fechaSalida , {'attr': {'placeholder': 'Seleccione la fecha de salida' } }) }}
                        {{ form_errors(form.fechaSalida ) }}
                        </div>
                        <div class="span6">
                        {{ form_label(form.estacionOrigen) }}
                        {{ form_widget(form.estacionOrigen , {'attr': {'placeholder': 'Seleccione la estación de origen' } }) }}
                        {{ form_errors(form.estacionOrigen ) }}
                        </div>
                    </div> 

                    <div class="row-fluid"> 
                        <div class="span12">
                            <label class="required" >Salidas</label>
                            <table id="salidaGrid" name="salidaGrid" class="salidaGrid" style="display:none" data-url="{{url('ajaxListarSalidasActivasEmitirBoletoPaginado')}}"></table>
                        </div> 
                    </div>
                    
                    <div id="dependenciasSelecccionSalidaGrid">
                    <input type="hidden" id="pathGetInformacionPorSalida" value="{{ url('ajaxGetInformacionPorSalida') }}"></input>
                    <div class="row-fluid">
                        <div class="span6">
                        {{ form_label(form.estacionSubeEn) }}
                        {{ form_widget(form.estacionSubeEn , {'attr': {'placeholder': 'Seleccione la estación' } }) }}
                        {{ form_errors(form.estacionSubeEn ) }}
                        </div>
                        <div class="span6">
                        {{ form_label(form.estacionBajaEn) }}
                        {{ form_widget(form.estacionBajaEn , {'attr': {'placeholder': 'Seleccione la estación' } }) }}
                        {{ form_errors(form.estacionBajaEn ) }}
                        </div>
                    </div> 
                    
                    <div class="row-fluid"> 
                        <div class="span12">
                         {{ form_label(form.observacionBajaEn) }}
                         {{ form_widget(form.observacionBajaEn , {'attr': {'placeholder': 'Especifique si el cliente desea bajarse en algún lugar intermedio.' } }) }}
                         {{ form_errors(form.observacionBajaEn ) }}
                        </div>
                    </div> 
                    
                    <div class="row-fluid margin-top-2"> 
                        <div class="span12">
                        {{ form_widget(form.utilizarDesdeEstacionOrigenSalida) }}
                        {{ form_label(form.utilizarDesdeEstacionOrigenSalida) }}   
                        </div>
                    </div> 
                    
                    <div class="row-fluid">
                    <div class="span12">
                    <table id="clienteBoletoTable" class="table table-striped table-bordered table-hover">
                    {#<caption>Clientes</caption>#}
                    <thead>      
                        <tr>
                            <th class="nroAsientoTH" >Nro. Asiento</th>
                            <th class="clienteBoletoTH">Cliente Boleto</th>
                        </tr>
                    </thead>
                    <tbody id="clienteBoletoBody">
                        <tr id="clienteBoletoVacioTR">
                            <td colspan="2"> No existen elementos.</td> 
                        </tr>
                    </tbody>
                    </table>    
                    </div>   
                    </div> 
                    
                    <span id="clienteActionsHidden" class="clienteActionsHidden hidden" style="margin-left: 5px;">
                        <a class="addClienteHidden btn btn-small" data-title="Adicionar Cliente" href="{{ path('cliente-crear-case1') }}"><i class="icon-plus"></i></a>
                        <a class="updateClienteHidden btn btn-small" data-title="Actualizar Cliente" data-index-message="Debe seleccionar un cliente." href="{{ path('cliente-actualizar-case1') }}"><i class="icon-edit"></i></a>
                        <a class="seachClienteHidden btn btn-small" data-title="Buscador de cliente" data-fullscreen="true" data-find="true" data-grid=".clienteGrid" href="{{ path('cliente-buscador-case1') }}"><i class="icon-search"></i></a>
                    </span>
                    
                    </div>
            </div>     
            
            
            <div class="span4" >
                
                <input type="hidden" id="listaAsientosHidden" value=""></input>
                <input type="hidden" id="listaSenalesHidden" value=""></input>
                <input type="hidden" id="listaBoletosHidden" value=""></input>
                <input type="hidden" id="listaReservacionesHidden" value=""></input>
                <input type="hidden" id="pathInfoAsientoSalida" value="{{ url('consultarAsientoSalida-case1') }}"></input>
                <input type="hidden" id="pathSeriesActivaPorEstacion" value="{{ url('ajaxSeriesActivaPorEstacion') }}"></input>
                <input type="hidden" id="pathCalcularImporteTotalMonedaBase" value="{{ url('ajaxCalcularImporteTotalMonedaBase') }}"></input>
                <input type="hidden" id="pathCalcularImporteTotalPorMoneda" value="{{ url('ajaxCalcularImporteTotalPorMoneda') }}"></input>
                <input type="hidden" id="pathPrintFacturaBoleto" value="{{ url('ajaxPrintFacturaBoleto') }}"></input>
                <input type="hidden" id="pathPrintVoucherBoleto" value="{{ url('ajaxPrintVoucherBoleto') }}"></input>
                <input type="hidden" id="pathListarDatosIniciales" value="{{ url('ajaxListarDatosIniciales') }}"></input>
                
                <div class="containment">
                <div class="row-fluid">
                <div class="span12"> 
                    <div class="tabbable">
                        <ul class="nav nav-tabs nivel">
                            <li id="nav1" class="active"><a href="#tab1" data-toggle="tab">Nivel 1</a></li> 
                            <li id="nav2" ><a href="#tab2" data-toggle="tab">Nivel 2</a></li>  
                            <li id="pendientes"><a href="#tab3" data-toggle="tab">Pendientes</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">    
                                <div class="lista nivel1"></div>
                            </div>  
                            <div class="tab-pane" id="tab2">    
                                <div class="lista nivel2"></div>
                            </div> 
                            <div class="tab-pane" id="tab3">    
                                <div class="lista pendientes"></div>
                            </div>
                        </div>
                    </div>
                    <div class="detalleDiv">
                        <label>
                            <span>Cantidad: </span>
                            <span id="utilizadoSpan">0 </span>
                            <span>/ </span>
                            <span id="totalSpan">0 </span>
                        </label>
                    </div>
                </div>
                </div>
                
               <div class="span2 iconosMapaBus">                                            
               <ul id="iconos">
                    <li>
                        <figure class="icono asiento claseA libre">
                            <img src="{{ asset('bundles/acmeterminalomnibus/images/bus/asientoClaseA.png') }}" alt="Clase A, asiento libre" title="Clase A, asiento libre"/>
                            <a class="showInfo" href="#"><i class="icon-list-alt"></i></a>
                            <div class="detalle"></div>
                        </figure>
                    </li>
                    <li>
                        <figure class="icono asiento claseA cortesia">
                            <img src="{{ asset('bundles/acmeterminalomnibus/images/bus/asientoClaseACortesia.png') }}" alt="Clase A, asiento de cortesía" title="Clase A, asiento de cortesía"/>
                            <a class="showInfo" href="#"><i class="icon-list-alt"></i></a>
                            <div class="detalle"></div>
                        </figure>
                    </li>
                    <li>
                        <figure class="icono asiento claseA reservado">
                            <img src="{{ asset('bundles/acmeterminalomnibus/images/bus/asientoClaseAReservado.png') }}" alt="Clase A, asiento reservado" title="Clase A, asiento reservado"/>
                            <a class="showInfo" href="#"><i class="icon-list-alt"></i></a>
                            <div class="detalle"></div>
                        </figure>
                    </li>
                    <li>
                        <figure class="icono asiento claseA vendido">
                            <img src="{{ asset('bundles/acmeterminalomnibus/images/bus/asientoClaseAVendido.png') }}" alt="Clase A, asiento vendido" title="Clase A, asiento vendido"/>
                            <a class="showInfo" href="#"><i class="icon-list-alt"></i></a>
                            <div class="detalle"></div>
                        </figure>
                    </li>
                    <li>
                        <figure class="icono asiento claseB libre">
                            <img src="{{ asset('bundles/acmeterminalomnibus/images/bus/asientoClaseB.png') }}" alt="Clase B, asiento libre" title="Clase B, asiento libre"/>
                            <a class="showInfo" href="#"><i class="icon-list-alt"></i></a>
                            <div class="detalle"></div>
                        </figure>
                    </li>
                    <li>
                        <figure class="icono asiento claseB cortesia">
                            <img src="{{ asset('bundles/acmeterminalomnibus/images/bus/asientoClaseBCortesia.png') }}" alt="Clase B, asiento de cortesía" title="Clase B, asiento de cortesía"/>
                            <a class="showInfo" href="#"><i class="icon-list-alt"></i></a>
                            <div class="detalle"></div>
                        </figure>
                    </li>
                    <li>
                        <figure class="icono asiento claseB reservado">
                            <img src="{{ asset('bundles/acmeterminalomnibus/images/bus/asientoClaseBReservado.png') }}" alt="Clase B, asiento reservado" title="Clase B, asiento reservado"/>
                            <a class="showInfo" href="#"><i class="icon-list-alt"></i></a>
                            <div class="detalle"></div>
                        </figure>
                    </li>
                    <li>
                        <figure class="icono asiento claseB vendido">
                            <img src="{{ asset('bundles/acmeterminalomnibus/images/bus/asientoClaseBVendido.png') }}" alt="Clase B, asiento vendido" title="Clase B, asiento vendido"/>
                            <a class="showInfo" href="#"><i class="icon-list-alt"></i></a>
                            <div class="detalle"></div>
                        </figure>
                    </li>
                    <li>
                        <figure class="icono senal salida">
                            <img src="{{ asset('bundles/acmeterminalomnibus/images/bus/puerta.png') }}" alt="Puerta de entrada y salida" title="Puerta de entrada y salida"/>
                        </figure>  
                    </li>
                    <li>
                        <figure class="icono senal chofer">
                            <img src="{{ asset('bundles/acmeterminalomnibus/images/bus/chofer.png') }}" alt="Chofer" title="Chofer"/>
                        </figure>
                    </li>
                </ul>
                </div>
                
                </div>
            </div>     
        </div>
        
        <div id="facturacionEspecialDIV" style="display: none">
            <div class="row-fluid"> 
            <div class="span6">
                {{ form_label(form.estacionFacturacionEspecialVirtual) }}
                {{ form_widget(form.estacionFacturacionEspecialVirtual , {'attr': {'placeholder': 'Seleccione la estación.' } }) }}
            </div>
            <div class="span6">
                <div class="span12">
                <label for="pingFacturacionEspecial">PIN de autorización</label>
                <input style="text-transform: uppercase;" type="text" placeholder="XXXX"  autofocus autocomplete="off" class="span12" id="pingFacturacionEspecial" required="required">
                </div>
            </div> 
            </div>
            <div class="row-fluid"> 
            <div class="span12">
                <input id="facturaEspecialVoucher" type="checkbox" checked value="1" class="voucherCheckbox hidden">
                {{ form_label(form.serieFacturacionEspecialVirtual) }}
                <div class="voucherDIV">
                    {{ form_widget(form.serieFacturacionEspecialVirtual) }}
                </div>
            </div>
            </div>
            <div class="row-fluid"> 
            <div class="span12">
                <label>Detalles</label>                
                <table class="table table-striped table-bordered table-hover scroll">
                <thead>
                    <tr>
                        <th >Asiento</th>
                        <th >Factura</th>
                        <th >Precio</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="3" id="totalFacturarEspecial"></th>
                    </tr>
                </tfoot>
                <tbody id="detalleFacturaBoletoBody"></tbody>
                </table>
            </div> 
            </div>
        </div>
        <div id="cortesiaDIV" style="display: none">
            <div class="row-fluid"> 
            <div class="span12">
                <label for="pinAutorizacionCortesia">PIN de autorización</label>
                <input style="text-transform: uppercase;" type="text" placeholder="XXXX-XXXX-XXXX"  autofocus autocomplete="off" class="span8" id="pinAutorizacionCortesia" required="required">
            </div>  
            </div>
        </div>
        <div id="facturaDIV" style="display: none">
            <div class="row-fluid bloque0">
                <div class="span12">
                    <input id="facturaVoucher" type="checkbox" checked value="1" class="voucherCheckbox {{ showVoucher ? '' : 'hidden' }}">
                    {{ form_label(form.serieFacturaVirtual) }}
                    <div class="voucherDIV">
                        {{ form_widget(form.serieFacturaVirtual) }}
                    </div>
                </div>
            </div>
            <div class="row-fluid bloque1"> 
            <div class="span6">
                {{ form_label(form.tipoPagoVirtual) }}
                {{ form_widget(form.tipoPagoVirtual , {'attr': {'placeholder': 'Seleccione el tipo de pago.' } }) }}
                {{ form_errors(form.tipoPagoVirtual ) }}
            </div>
            <div class="span6">
                {{ form_label(form.totalNetoVirtual) }}
                <div class="input-prepend">
                <span class="add-on">GTQ</span>
                {{ form_widget(form.totalNetoVirtual , {'attr': {'placeholder': 'Total neto.' } }) }}
                </div>
                {{ form_errors(form.totalNetoVirtual ) }}
            </div>    
            </div>
            <div class="row-fluid bloque2"> 
            <div class="span6">
                {{ form_label(form.monedaPagoVirtual) }}
                {{ form_widget(form.monedaPagoVirtual , {'attr': {'placeholder': 'Seleccione la moneda de pago.' } }) }}
                {{ form_errors(form.monedaPagoVirtual ) }}
            </div>
            <div class="span6">
                {{ form_label(form.referenciaExternaVirtual) }}
                {{ form_widget(form.referenciaExternaVirtual , {'attr': {'placeholder': 'XXXXXXXXXXXXXXXXXXXX', 'maxlength' : '20' } }) }}
                {{ form_errors(form.referenciaExternaVirtual ) }}
            </div>
            </div>
            <div class="row-fluid bloque3"> 
            <div class="span6">
                {{ form_label(form.tasaVirtual) }}
                {{ form_widget(form.tasaVirtual , {'attr': {'placeholder': 'Tasa aplicada.' } }) }}
                {{ form_errors(form.tasaVirtual ) }}
            </div>
            <div class="span6">
                {{ form_label(form.totalPagoVirtual) }}
                <div class="input-prepend">
                <span id="prependTotalPagoVirtual" class="add-on">GTQ</span>
                {{ form_widget(form.totalPagoVirtual , {'attr': {'placeholder': 'Total neto.' } }) }}
                </div>
                {{ form_errors(form.totalPagoVirtual ) }}
            </div>
            </div>
            <div class="row-fluid bloque4"> 
            <div class="span6">
                {{ form_label(form.efectivoVirtual) }}
                <div class="input-prepend">
                <span id="prependEfectivoVirtual" class="add-on">GTQ</span>
                {{ form_widget(form.efectivoVirtual , {'attr': {'placeholder': 'Efectivo entregado por el cliente.' } }) }}
                </div>
                {{ form_errors(form.efectivoVirtual ) }}
            </div>
            <div class="span6">
                {{ form_label(form.vueltoVirtual) }}
                <div class="input-prepend">
                <span class="add-on">GTQ</span>
                {{ form_widget(form.vueltoVirtual , {'attr': {'placeholder': 'Efectivo a entregar al cliente.' } }) }}
                </div>
                {{ form_errors(form.vueltoVirtual ) }}
            </div>
            </div>
            <div class="row-fluid bloque5"> 
            <div class="span12">
                {{ form_label(form.autorizacionTarjetaVirtual) }}
                {{ form_widget(form.autorizacionTarjetaVirtual , {'attr': {'placeholder': 'XXXXXXXXXXXXXXXXXXXX', 'maxlength' : '20' } }) }}
                {{ form_errors(form.autorizacionTarjetaVirtual ) }}
            </div>
            </div>
        </div>
        <div id="aceptarDIV" style="display: none">
            <div class="row-fluid bloque1"> 
            <div class="span6">
                {{ form_label(form.totalNetoAgenciaVirtual) }}
                <div class="input-prepend">
                    <span class="add-on">{{ (estacion is empty or estacion.monedaAgencia is empty) ? '' : estacion.monedaAgencia.sigla }}</span>
                {{ form_widget(form.totalNetoAgenciaVirtual , {'attr': {'placeholder': 'Total neto' } }) }}
                </div>
            </div> 
            <div class="span6">
                {{ form_label(form.referenciaExternaAgenciaVirtual) }}
                {{ form_widget(form.referenciaExternaAgenciaVirtual , {'attr': {'placeholder': 'XXXXXXXXXXXXXXXXXXXX', 'maxlength' : '20' } }) }}
            </div>  
            </div>
            <div class="row-fluid bloque1 {{ (estacion is not empty and estacion.checkAgenciaPrepago ) ? '' : 'hidden' }}">
                <div class="span12">
                    {{ form_widget(form.utilizarBonoAgenciaVirtual) }}
                    {{ form_label(form.utilizarBonoAgenciaVirtual) }}
                </div>    
            </div>    
        </div>
        {{ form_rest(form) }}
        
    </form>
    
    
    
{% endblock %}

{% block contentFooterModal %}
   
    {% if agencia %}
    <a id="aceptar" href="#" class="btn btn-primary">Aceptar</a>
    {% else %}
    <a id="cortesia" href="#" class="btn btn-primary">Cortesía</a>
    <a id="facturar" href="#" class="btn btn-primary">Facturar</a>
    <a id="facturarEspecial" href="#" class="btn btn-primary">Facturar Otra Estación</a>
    {% endif %}
    
    <a id="cancelar" href="{{ url('homeInternal-default') }}" class="btn">Cancelar</a>
     
{% endblock %}






