{% extends "::content.html.twig" %}

{% block contentHeaderModal %}
    Reporte Encomiendas de Pendientes de Entregar
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            encomiendaPendienteEntregarReporte.funcionesAddOnload();	
        }); 
    </script>
{% endblock %}
           
{% block contentBodyModal %}
    
    <form class="form-horizontal reporteForm" id="reporteForm" name="reporteForm" action="{{ path(route) }}" method="post" >
       
        <input type="hidden" name="mensajeServidor" id="mensajeServidor" value="{{ mensajeServidor }}"></input>
        <div id="accordionFilters" class="accordion" >
        <div class="accordion-group">
            
            <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFilters" href="#collapseFilters">
            Parámetros del reporte
            </a>
            </div>   
            
            <div id="collapseFilters" class="accordion-body">
            <div class="accordion-inner">

            <div class="row-fluid">
            <div class="span6">
                {{ form_label(form.empresa) }}
                {{ form_widget(form.empresa , {'attr': {'placeholder': 'Seleccione la empresa' } }) }}
                {{ form_errors(form.empresa ) }} 
            </div> 
            <div class="span6">
                {{ form_label(form.estacion) }}
                {{ form_widget(form.estacion , {'attr': {'placeholder': 'Seleccione la estacion' } }) }}
                {{ form_errors(form.estacion ) }}
            </div> 
            </div>
            <BR>
            <div class="row-fluid">
            <div class="span6">
                {{ form_widget(form.mostrarSoloFacturado) }}
                {{ form_label(form.mostrarSoloFacturado) }}
            </div> 
            <div class="span6">
                {{ form_widget(form.mostrarSoloPorCobrar) }}
                {{ form_label(form.mostrarSoloPorCobrar) }}
            </div> 
            </div>
                
            </div>
            </div>
            
        </div>
        </div>
        
        <div class="control-group">
            <a id="ejecutar" class="btn btn-primary" type="submit" href="#" data-type="PDF" ><i class="icon-filter icon-white"></i> PDF</a>
        </div>
        {{ form_rest(form) }}
    </form>
    
    <div id="pdf" name="pdf" class="pdf"></div> 
    
{% endblock %}

{% block contentFooterModal %}     
{% endblock %}






