
<form class="form-horizontal changePasswordForm" action="{{ path('sonata_user_admin_changePassword') }}" method="POST" {{ form_enctype(form) }} >

<div id="bodyForm" name="bodyForm" class="bodyForm">     
    
{% if form.vars.errors|length > 0 %}
    <div class="sonata-ba-form-error"> {{ form_errors(form) }} </div>
{% endif %}

<fieldset>
    
    <div class="control-group">
        {{ form_label(form.username) }}                                    
        {{ form_widget(form.username, {'attr': {'placeholder': 'Username del usuario'}}) }}
        {{ form_errors(form.username, {'attr': {'class' : 'sonata-ba-form-error'}}) }}
    </div>
    <div class="control-group">
        {{ form_widget(form.plainPassword) }}
        {{ form_errors(form.plainPassword, {'attr': {'class' : 'sonata-ba-form-error'}}) }}
    </div>

{#    {{ form_widget(form) }}                         #}
    
</fieldset>

{{ form_rest(form) }}

</div>    
    
<div class="well well-small form-actions">
    <button type="submit" class="btn btn-primary" name="btn_aceptar" value="Aceptar">Aceptar</button>
</div>          

</form>

<script>	
$(document).ready(function(){
    backendChangePasword.funcionesAddOnload();	
}); 
</script>