{% extends "SonataAdminBundle:CRUD:list.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}    
    <script src="{{ asset('bundles/acmebackend/js/jquery.controls.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/acmebackend/js/jquery.dialog2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/acmebackend/js/backendListUser.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/acmebackend/js/backendChangePasword.js') }}" type="text/javascript"></script>
    <script>	
	$(document).ready(function(){
		backendListUser.funcionesAddOnload();	
	}); 
    </script>
{% endblock %}

{% block actions %}
    {{ parent() }}   
    
    <div class="sonata-actions btn-group">
        <div class="btn sonata-action-element changePassword" data-href="{{ admin.generateUrl('changePassword') }}">
            <i class="icon-wrench"></i>{{ "Cambiar contraseña" }}
        </div>
    </div>

{% endblock %}


     

